* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem 0;
}

/*header*/
header {
    height: 45rem;
}

header .bg-image {
    position: absolute;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
    height: 52rem;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

header h1 {
    padding: 15rem;
    padding-bottom: 0;
}

#share a {

    color: darkslategray;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
}

#share a:hover {
    opacity: 0.6;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: .85rem 3rem;
    margin: .5rem 0;
    margin-right: 8px;
    margin-left: 8px;

    border-radius: 15px;
}

.btn:hover {
    background-color: #eaeaea;
    color: #333;
    transition: all 0.5s;
}
